.manage-bar {
  // height: 50px;
  display: inline-block;

  .manage-item {
    float: left;
    margin-right: 20px;
  }
}

.index-page {
  .banner-img {
    width: 255px;
    height: 66px;
  }
}
li.prosuntime {
  display: inline-table;
  margin-right: 20px;
}
li.prosuntime label{
  margin-right: 10px;
}
input.prosum{
  margin-right: 10px;
  width: 100px;
}
.setpoppic{
  width: 255px;
  height: auto;
}
