<div class="login-page">
  <div class="logo">
    <span>直播管理系统</span>
  </div>
    <Form ref="login" :model="user" :rules="rule">
        <Form-item prop="name">
            <Input type="text" v-model="user.name" placeholder="请输入用户名">
                <Icon type="ios-person-outline" slot="prepend"></Icon>
            </Input>
        </Form-item>
        <Form-item prop="password">
            <Input type="password" v-model="user.password" placeholder="请输入密码">
                <Icon type="ios-locked-outline" slot="prepend"></Icon>
            </Input>
        </Form-item>
        <Form-item>
            <Button type="primary" @click="handleSubmit('login')" :loading="loading">登录</Button>
        </Form-item>
    </Form>
</div>
